<header>

<h1 class="title">Bienvenue à bord</h1>
<p class="title">Location de voiture 24h/24 et 7j/7</p>

<ul>
<li><a href="">Inscription</a></li>
<li><a href="">Connexion</a></li>

</ul>


</header>